.breed-gallery {
    overflow-y: scroll;
    display: flex;
    flex-flow: wrap;
    gap: 10px
}
.column {
    height: 90%;
    width: 100%;
}
.picture {
    height: 250px;
    width: 250px;
}
.gallery-header {
    height: 56.6px
}