<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-card class="card">
            <app-column-list (selectedBreedPictures)="updateSelectedBreedPictures($event)" (selectedBreedName)="updateSelectedBreedName($event)"></app-column-list>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card"> 
            <app-column-gallery [selectedBreedPictures]="selectedBreedPictures" [selectedBreedName]="selectedBreedName"></app-column-gallery>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>