.breed-list {
    height: 100%;
    overflow-y: scroll;
}
.column {
    height: 90%;
    width: 100%;
}
.form-field {
    width: 100%;
}
.list-item-content {
    margin: auto 5px
}
.list-item-container {
    display: flex;
}