<div class="column">
    <mat-form-field class="form-field">
        <mat-label>Search Breed</mat-label>
        <input matInput type="text" [(ngModel)]="inputValue">
    </mat-form-field>

    <mat-list class="breed-list">
        <mat-list-item *ngFor='let breed of allBreeds'>
            <div (click)="this.fetchBreedPictures(breed.title)">
                <div mat-card-avatar></div>
                <div matListItemTitle >
                    <img [src]="breed.thumbnail" style="width:50px; height:50px"/>
                    {{breed.title}}
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</div>
