<div class="column">
    <mat-form-field class="form-field">
        <mat-label>Filter Breeds</mat-label>
        <input #filterInput matInput type="text" [(ngModel)]="inputValue" (input)="filterList(filterInput.value)">
    </mat-form-field>

    <mat-selection-list class="breed-list" [multiple]="false">
        <div *ngIf="inputValue; else showAll">
            <mat-list-option *ngFor='let breed of filteredBreeds'>
                <div (click)="this.displayBreedPictures(breed)">
                    <div matListItemTitle class="list-item-container">
                        <img [src]="breed.pictures[0]" style="width:40px; height:40px" class="list-item-content"/>
                        <span class="list-item-content">{{breed.title}}</span>
                    </div>
                </div>
            </mat-list-option>
        </div>
        <ng-template #showAll>
            <mat-list-option *ngFor='let breed of allBreeds'>
                <div (click)="this.displayBreedPictures(breed)" class="list-item">
                    <div matListItemTitle class="list-item-container">
                        <img [src]="breed.pictures[0]" style="width:40px; height:40px" class="list-item-content"/>
                        <span class="list-item-content">{{breed.title}}</span>
                    </div>
                </div>
            </mat-list-option>
        </ng-template>
    </mat-selection-list>
</div>
